[defaults]
host_key_checking = false
stdout_callback = yaml
roles_path = ../../roles/
inventory= hosts.yml

[ssh_connection]
pipelining = True
ssh_args =-C -o ControlMaster=auto -o ControlPersist=3600s -o UserKnownHostsFile=/dev/null