[Unit]
Description=AutoSSH tunnel to First Redirector
After=network.target
[Service]
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -q -N -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3" -R localhost:{{ remote_port }}:localhost:{{ local_port }} {{ remote_user }}@{{ remote_ip }}
[Install]
WantedBy=multi-user.target